@model IEnumerable<Common.Views.OrdersView>
@{
    ViewBag.Title = "View Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Orders</h2>
<script type="text/javascript">

    function updateStatus(inc) {
        if ($("#ddlStatus" + inc + "").val() == "") {
            alert("Choose an Order Status to update the Order!");
        }
        else {
            var orid = $("#oID"+inc+"").val();
            var status = $('#ddlStatus' + inc + ' option:selected').val();
            var param = { OrderID: orid, statusID: status };
            $.ajax({
                url: '@Url.Action("UpdateOrderStatus")',
                type: "POST",
                datatype: "json",
                data: param,
                error: function (xmlHttpRequest, errorText, thrownError) {
                    alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                },
                success: function (data) {
                    alert("Order Status has been updated!");
                }
            });
        }
    }

</script>

@if (Model == null || Model.Count() == 0)
{
    <div style="color: Red"><b>No orders were found</b></div>
}
else
{
    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Buyer</th>
            <th>Current Order Status</th>
            <th>Order Status</th>
        </tr>

        @{
            int inc = 1;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)  
                    @Html.HiddenFor(modelItem => item.OrderID, new { id = "oID" + inc + "" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyer)
                </td>
                <td>
                    <div style="font-weight: bold">@Html.DisplayFor(modelItem => item.OrderStatus)</div>
                </td>
                <td>
                    @if(item.OrderStatusID == 3)
                    {
                        @Html.DisplayFor(modelItem => item.OrderStatus)
                    }
                    else
                    {
                        @Html.DropDownListFor(model => item.OrderStatusID, (IEnumerable<SelectListItem>)ViewData["statusList"], "--Select Order Status--", new { id = "ddlStatus" + inc + "" })
                        <button type="button" onclick="updateStatus(@inc)">Update Order Status</button>
                    }
                </td>
                <td>
                    <input type="button" value="View Order Details" onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderID })'" />
                </td>
                <td>
                    @if (item.OrderStatusID != 3)
                    {
                        <input type="button" value="Complete Order" onclick="location.href='@Url.Action("DeleteOrder", "Orders", new { id = item.OrderID })'" />
                    }
                </td>
            </tr>
            {
                inc++;
            }
    }
    </table>
}