@model IEnumerable<Common.Views.CartView>
@{
    ViewBag.Title = "View Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Shopping Cart</h2>

@using (Html.BeginForm())
{
    @ViewBag.Message
    if (Model.Count() > 0)
    {
        <table>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        <img height="150" width="150" src="@Url.Content(item.ProductImage)" alt="@Html.DisplayFor(modelItem => item.ProductImage)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductQuantity)
                    </td>
                    <td>
                        €@(item.ProductQuantity * item.ProductPrice)
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>Total Price:</td>
                <td><b>€@ViewBag.TotalPrice</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" name="ViewCart" value="Checkout" /></td>
            </tr>
        </table>
    }
    else
    {
        <div style="color: Red"><b>Your shopping cart is empty!</b></div>
    }
}